/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 84px;
    padding-bottom: 140px;
}



/* header - geolab - a - burger */



header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 84px;
    width: 100%;
    top: 0;
    z-index: 2;
}

.headertextdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 700px;
    right: 78px;
}

.background {
    background-color: white;
    height: 84px;
    position: fixed;
    width: 2386px;
    top: 0;
    z-index: 1;
}

#geolab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    margin-left: 88px;
    margin-right: 50px;
}

.headertext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400%;
    font-size: 17px;
    color: #636060;
    margin-top: 33px;
}


i {
    display: none !important;
    font-size: 50px !important;
    color: #636060;
    margin-top: 15px !important;
    margin-right: 78px;
}








/* the big photo and text inside centered */






.largephotodiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.limagephotodiv {
    width: 595px;
    height: 200px;
    position: absolute;
}

.imagetext {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    font-size: 79px;
    color: white;

}


.smallimagetext {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 19px;
    color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    top: 100px;
    right: 170px;
}



#bigphoto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    min-width: 150px;
    margin-bottom: 84px;
}






/* text div on the left */




.twodivs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.divtext {
    width: 235px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.t1 {
    font-weight: 370;
    font-size: 17px;
    color: #636060;
    margin-bottom: 9px;
}

.t2 {
    font-weight: 500;
    font-size: 28px;
    color: #010101;
    margin-bottom: 37px;
}

.t3 {
    font-weight: 370;
    font-size: 20px;
    color: #636060;
}




/* Cards */



.cardsdiv {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}


.image {
    width: 286px;
    height: 195px;
}


.card {
    width: 286px;
    height: 350px;
}


.cardtexth {
    font-weight: 400%;
    font-size: 19px;
    color: #343232;
    margin-top: 23px;
}


.carddesc {
    font-weight: 350;
    font-size: 18px;
    color: #636060;
    margin-top: 9px;
}










/* Device not found */


.devicenotgreatsize {
    display: none;
}








/* @media -s */





@media only screen and (max-width: 975px) {
  i {
    display: inline-block !important;
  }

  .headertextdiv {
    display: none;
  }
}



@media only screen and (max-width: 445px) {
  header {
    display: none;
  }

  #geolab {
    display: none;
  }

  .twodivs {
    display: none;
  }

  .largephotodiv {
    display: none;
  }

  .devicenotgreatsize {
    display: block;
}
}




@media only screen and (max-width: 612px) {
  .imagetext {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    font-size: 59px;
    color: white;

}


.smallimagetext {
    font-size: 14px;
}


.limagephotodiv {
    width: 447px;
    height: 200px;
    position: absolute;
}

.cardsdiv {
    width: 500px;
}


.divtext {
    width: 400px;
    margin-bottom: 20px;
}

}